<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="net.iakanoe.distrizen.vendedor">

	<uses-permission android:name="android.permission.INTERNET" />

	<application
		android:allowBackup="true"
		android:fullBackupContent="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:supportsRtl="true"
		android:theme="@style/AppTheme">

		<activity android:name=".MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<action android:name="android.intent.action.VIEW" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity
			android:name=".VerPedidoActivity"
			android:label="Ver pedido"
			android:theme="@style/AppTheme.NoActionBar" />

		<activity
			android:name=".SeleccionarClienteActivity"
			android:exported="true"
			android:label="Elegir cliente"
			android:theme="@style/AppTheme.NoActionBar" />

		<activity
			android:name=".SeleccionarArticuloActivity"
			android:theme="@style/AppTheme.NoActionBar" />

		<activity
			android:name=".SeleccionarArticuloActivityV2"
			android:label="Elegir artículo"
			android:theme="@style/AppTheme.NoActionBar" />

		<activity
			android:name=".PagosActivity"
			android:theme="@style/AppTheme.NoActionBar" />

		<activity
			android:name=".PedidosActivity"
			android:theme="@style/AppTheme.NoActionBar" />

		<activity
			android:name=".LoginActivity"
			android:label="Iniciar sesión"
			android:theme="@style/AppTheme" />

	</application>
</manifest>